body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

*{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

a:hover {
	text-decoration: none;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.hover-dark:hover {
	opacity: .6;
}

#home-prev-div, #home-next-div {
	overflow: hidden;
	min-height: 100%;
	background-color: white;
	position: relative;
	cursor: pointer;
}

#home-prev-link, #home-next-link {
	position: fixed;
	margin-top: 100px;
	margin-left: 10px;
	display: none;
}

#home-prev-div:hover, #home-next-div:hover {
	background-color: #EEE;
}

#home-prev-div:hover #home-prev-link, #home-next-div:hover #home-next-link{
	display: block;
}

/* verse_section.js */
.verses {
	position: relative;
}

.verse-container {
}
.verse-container-inner{
	max-height: 80vh;
	overflow: auto;
	min-height: 100%;
}
::-webkit-scrollbar{
	width: 0px;
	background: transparent;
}

/* verse_toolbar.js */
/*.toolbar {
	z-index : 99;
	top: 80px;
	left: 40px;
	padding-left: 5px;
	padding-right: 5px;
	position: fixed;
}

.color-row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.color-col {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}*/
.close-button {
	position: absolute;
	top: 10px;
	right: 10px;
	border: none;
	background: transparent;
	font-size: 1.5em;
}
.color-button {
	border: transparent;
	padding: 30px;
	margin: 0 10px 0 10px;
	border-radius: 5px;
}

/* bookmarks.html */
.fade-wrapper {
	position: relative;	
}
.bottom-fade {
	position: absolute;
	width: 100%;
	height: 180px; /* changed to 150px to prevent the overlay from blocking the card's header link and modal button */
	z-index: 99;
	bottom: 0;
	left: 0;
	background: url("/static/images/bottom-fade.png");
}

.bottom-fade a {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translateX(-50%);
/*	padding-left: 20px;
	padding-bottom: 20px;
	margin-bottom: -5px;*/
}

/* overwrite bootstrap custom styling for alert when placed next to button*/
.__custom-alert {
	padding-top: .45rem;
	padding-bottom: .45rem;
}

/* remove mce unregistered message */
.mce-notification-inner {
	display:none!important;
}

/* Add z index over all other elements */
.__z-over{
	z-index: 10000;
}

@media only screen and (min-width: 1480px){
	.toolbar {
		z-index : 99;
		top: 80px;
		left: 40px;
		width: 150px;
		padding-left: 5px;
		padding-right: 5px;
		position: fixed;
	}
	.card-title {
		text-align: center;
		margin-top: 15px;
		word-wrap: break-word;
	}

	.color-row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.color-col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

}

@media only screen and (min-width: 400px) and (max-width: 1479px){
	/* verse_toolbar.js */
	/* fixed at the bottom for mobile */
	.toolbar {
		z-index: 99;
		bottom: 0;
		left:0;
		width: 100%;
		position: fixed;
	}
	.color-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-title {
		margin-top: 15px;
	}
	.color-col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.color-button {
		border: transparent;
		padding: 30px;
		margin: 0 10px 0 10px;
		border-radius: 5px;
	}
}

@media only screen and (max-width: 399px){
	/* fixed at the bottom for mobile */
	.toolbar {
		z-index: 99;
		bottom: 0;
		left:0;
		width: 100%;
		position: fixed;
	}
	.color-row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-title {
		margin-top: 15px;
	}
	.color-col {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.color-button {
		border: transparent;
		padding: 25px;
		margin: 0 8px 0 8px;
		border-radius: 5px;
	}
}
