{% extends 'layouts/layout.html' %}
{% block content %}
	<div class = "content-section">
		<h2> About BibleJourney </h2>	
		<div class = "article-content">
			<h3>Our Goal</h3>
			<p>To provide a user friendly and accessible Bible Study Experience.</p>
			<h3>Current Features</h3>
			<ul>
				<li>All Books and Chapters available in the World English Bible  (WEB) Translation.</li>	
				<li>Ability to save notes for a chapter and toggle between viewing modes for logged in users.</li>	
				<li>Ability to highlight verses and bookmark chapters for logged in users.</li>	
				<li>Verse of the Day (New International Version Translation) available through OurManna.com</li>	
			</ul>
		</div>
		<div class = "article-content">
			<p>If you would like to contribute, please submit a pull request at <a target = "_blank" href = "https://www.github.com/jyan500/BibleJourney-V2">our github repository</a></p>	
			<p>Thank you for visiting!</p>
		</div>
	</div>
{% endblock content %}
