{% extends 'layouts/layout.html' %}
{% block react_content %}
	
	<div class = "row" id = "main_section"></div>
	<script src = "{{url_for('static', filename = 'components/verse_section.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/note_section.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/search_bar.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/side_bar.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/main_section.js')}}"></script>
{% endblock react_content %}
