{% extends 'layouts/layout.html' %}
{% block content %}
	<div class = "content-section">	
		<form method = "GET" action = "{{ url_for('main.verses') }}">
			<div class = "form-group">
				{{ form.verse.label(class="form-control-label") }}	
				{% if form.verse.errors %}
					{{ form.verse(class="form-control form-control-lg is-invalid") }}	
					<div class = "invalid-feedback">
						{% for error in form.verse.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					{{ form.verse(class="form-control form-control-lg", placeholder="Examples: John 3, John 3:16, John 3:17-19 ... ") }}	
				{% endif %}
			</div>
			<div class = "form-group">
				{{ form.submit(class="btn btn-outline-info")}}
			</div>
		</form>
	</div>
	{% if verses %}
		<div class = "content-section">
			<div class = "row">
				{% if is_only_chapter %}
					<div class = "col-md-1 prev" id = "home-prev-div">
						<a href = "/verses/{{book}} {{chapter | int - 1}}" id = "home-prev-link"><i class = "fas fa-chevron-left"></i></a>	
					</div>
					<div class = "col-md-10 pl-2">
						<h2 class = "mb-3">{{ verses.reference }}</h2>
				{% else %}
					<div class = "col-md-12 pl-2">
						<h2 class = "mb-3">{{ verses.reference }}</h2>
				{% endif %}
					{% for verse in verses.verses %}	
						<p><sup class = "mr-1">{{ verse.verse }}</sup>{{ verse.text }}</p>	
					{% endfor %}
					</div>
				{% if is_only_chapter %}
				<div class = "col-md-1 next pr-2 m-0" id = "home-next-div">
					<a href = "/verses/{{book}} {{chapter | int + 1}}" id = "home-next-link"><i class = "fas fa-chevron-right"></i></a>	
				</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
{% endblock content %}