{% extends 'layouts/layout.html' %}
{% block react_content %}
	 <script> 
		// set the values of some server populated variables to be displayed in the react components (rather than loading via ajax) 
		window.objects = { 
			bookmarks :  
			{% if current_user.is_authenticated %} 
				{{ bookmarks | tojson }}
			{% endif %},
			notes: 
			{% if current_user.is_authenticated %}	
				{{ notes | tojson }}
			{% endif %}

		}
	</script>	
	<div class = "row" id = "main_section"></div>
	<script src = "{{url_for('static', filename = 'components/verse_section.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/note_section.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/search_bar.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/side_bar.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/loading_overlay.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/loading_spinner.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/bookmark_panel.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/note_panel.js')}}"></script>
	<script src = "{{url_for('static', filename = 'components/main_section.js')}}"></script>
{% endblock react_content %}
